<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">

<head th:replace="fragments::head(title='Welkompagina')" > </head>

<body>

    <nav th:replace="fragments::nav"></nav>

    <h1> Menu </h1>

    <ul>


        <!-- shown only when user is not logged in -->
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}"> Log in </a>
        </li>

        <!-- shown only when user is logged in -->
        <form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">


            <a class="link vertical" th:href="@{/werknemer}">Werknemershiërarchie</a>
            <a class="link vertical" th:href="@{/jobtitels}">Jobtitels</a>


        </form>
    </ul>

</body>

</html>